@model PheasantBench.Application.ViewModels.ForumThreadPagedDto

@if (!string.IsNullOrEmpty(ViewBag.Success))
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.Success
    </div>
}

@foreach (var item in Model.ForumThreads)
{
    <form method="get" asp-controller = "ForumMessage" asp-action="GetMessages" method="get">
        @Html.Hidden("page", 1)
        @Html.Hidden("threadId", item.Id)
        <button type="submit" class="nav-link btn btn-link text-dark">@item.Name</button>
        @Html.AntiForgeryToken()
    </form>

    @if (User.IsInRole("Admin"))
    {
        <form method="post" asp-controller = "Thread" asp-action="Remove" method="get">
            @Html.Hidden("threadId", item.Id)
            <button type="submit" class="btn btn-danger">Delete</button>
            @Html.AntiForgeryToken()
        </form>
    }
}

@if (ViewBag.PageNumber > 1)
{
    <a href="@Url.Action("GetThreads", new { page = ViewBag.PageNumber - 1 })" class="btn btn-primary">Previous</a>
}

@if (ViewBag.PageNumber < Model.TotalPages || Model.ForumThreads.Count() == 5)
{
    <a href="@Url.Action("GetThreads", new { page = ViewBag.PageNumber + 1 })" class="btn btn-primary">Next</a>
}
