@model PheasantBench.Application.ViewModels.BencmarksPagedDto

@if (!string.IsNullOrEmpty(ViewBag.Success))
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.Success
    </div>
}

@foreach (var item in Model.BenchmarkDtos)
{
    <h3>@item.Architecture</h3>
    @if (User.IsInRole("Admin"))
    {
        <form method="post" asp-controller="Benchmark" asp-action="Remove" method="get">
            @Html.Hidden("benchmarkId", item.Id)
            <button type="submit" class="btn btn-danger">Delete</button>
            @Html.AntiForgeryToken()
        </form>
    }
}

@if (ViewBag.PageNumber > 1)
{
    <a href="@Url.Action("GetBenchmarks", new { page = ViewBag.PageNumber - 1 })" class="btn btn-primary">Previous</a>
}

@if (ViewBag.PageNumber < Model.TotalPages || Model.BenchmarkDtos.Count() == 5)
{
    <a href="@Url.Action("GetBenchmarks", new { page = ViewBag.PageNumber + 1 })" class="btn btn-primary">Next</a>
}
