@using PheasantBench.Domain.Enums
@model PheasantBench.Application.ViewModels.ForumMessagesPagedDto

@{
    ViewData["Title"] = "Messages";
}

<h1 class="text-center">@Model.Thread.Name</h1>
<h2 class="text-center">@Model.Thread.Description</h2>

@if (!string.IsNullOrEmpty(ViewBag.Success))
{
    <div class="alert alert-success text-center" role="alert">
        <h5>@ViewBag.Success</h5>
    </div>
}

@if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
{
    <div class="alert alert-danger text-center" role="alert">
        <h5>@ViewBag.ErrorMessage</h5>
    </div>
}

<br />

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            @foreach (var item in Model.ForumMessages)
            {
                <div class="card mb-3">
                    <div class="card-body">
                        <h6>@item.User.Name</h6>
                        <h4 class="card-title">@item.MessageContent</h4>
                        @if (!string.IsNullOrEmpty(item.FileName))
                        {
                            <img src="@Url.Content($"~/uploads/{item.FileName}")" alt="Image" class="img-fluid capped-image" />
                        }
                        <div>
                            <span>Upvotes: @item.UpvoteCount</span>
                            <div class="d-flex mt-2">
                                <form method="post" asp-controller="ForumMessage" asp-action="Upvote" class="me-2">
                                    @Html.Hidden("messageId", item.Id)
                                    <input type="hidden" name="score" value="1" />
                                    <button type="submit" class="btn btn-primary">😊</button>
                                    @Html.AntiForgeryToken()
                                </form>
                                <form method="post" asp-controller="ForumMessage" asp-action="Upvote" class="me-2">
                                    @Html.Hidden("messageId", item.Id)
                                    <input type="hidden" name="score" value="0" />
                                    <button type="submit" class="btn btn-danger">😠</button>
                                    @Html.AntiForgeryToken()
                                </form>
                                @if (User.IsInRole(Role.Admin.ToString()))
                                {
                                    <form method="get" asp-controller="ForumMessage" asp-action="Remove">
                                        @Html.Hidden("forumMessageId", item.Id)
                                        <button type="submit" class="btn btn-danger">Delete</button>
                                        @Html.AntiForgeryToken()
                                    </form>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-6 d-flex justify-content-between">
            @if (Model.PageNumber > 1)
            {
                <a href="@Url.Action("GetMessages", new { page = Model.PageNumber - 1, threadId = Model.Thread.Id})" class="btn btn-primary">Previous</a>
            }else
            {
                <a></a>
            }

            @if (Model.PageNumber < Model.TotalPages)
            {
                <a href="@Url.Action("GetMessages", new { page = Model.PageNumber + 1, threadId = Model.Thread.Id })" class="btn btn-primary">Next</a>
            }
        </div>
    </div>

    <br />

    <div class="row justify-content-center mt-5">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h4 class="mb-0">Create Forum Message</h4>
                </div>
                <div class="card-body">
                    <form asp-controller="ForumMessage" asp-action="Create" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="MessageContent">Message Content:</label>
                            <textarea class="form-control" id="MessageContent" name="MessageContent" rows="5"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="FileUpload">Upload File:</label>
                            <input type="file" class="form-control-file" id="File" name="File" />
                        </div>
                        @Html.AntiForgeryToken()
                        @Html.Hidden("ForumThreadId", Model.Thread.Id)
                        <button type="submit" class="btn btn-primary btn-block">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    </div>
</div>
